<div class="contenedorP">
  <div class="imagen">
    <div class="tarjeta">
      <h3>ONLINE QUOTES & BOOKINGS</h3>
      <form>
        <label>Enter postcode or suburb:</label>
        <input type="text" name="Postcode" value="Postcode Or Suburb"><br>
        <label>Delivery Date</label>
        <input type="text" name="DeliveryDate">
        <label>Collection Date</label>
        <input type="text" name="CollectionDate">
        <input type="submit" name="submit" id="step2" Value="GO TO STEP 2">
      </form>
    </div>
  </div>
</div>